@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #1a202c;
    color: #a0aec0;
}

#goalInput, #addWaterButton {
    border: none;
    padding: 10px;
    margin: 10px;
    background-color: #2d3748;
    color: #a0aec0;
}

#addWaterButton {
    cursor: pointer;
}

#congratulatoryMessage {
    display: none;
    color: #48bb78;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

#waterTracker {
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}